$breaks: (small: 0px, medium: 720px, large: 1023px );
$gutters: (no: 0rem, small: .125rem, medium: .5rem, large: 1.5rem);
$cell-padding: .5rem;
$document-width: 80rem;

$small-only: "(max-width: #{map-get($breaks, medium)})";
$medium-only: "(min-width: #{map-get($breaks, medium) + 1px}) and (max-width: #{map-get($breaks, large) - 1px} )";
$large-only: "(min-width: #{map-get($breaks, large)})";

@mixin container-style() {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 100%;
  width: $document-width;
}

:export {
  small: 0;
  medium: map-get($breaks, medium);
  large: map-get($breaks, large);
  $document-width: $document-width;
}