@use 'sass:map';

$breaks: (
  small: 0px,
  medium: 720px,
  large: 1023px,
);
$gutters: (
  none: 0rem,
  close: 0.125rem,
  default: 0.5rem,
  open: 1.5rem,
);
$cell-padding: 0.5rem;
$document-width: 80rem;

$small-only: '(max-width: #{map.get($breaks, medium)})';
$medium-only: '(min-width: #{map.get($breaks, medium) + 1px}) and (max-width: #{map.get($breaks, large) - 1px} )';
$large-only: '(min-width: #{map.get($breaks, large)})';

:export {
  small: 0;
  medium: map.get($breaks, medium);
  large: map.get($breaks, large);
  $document-width: $document-width;
}
