$textBreaks: (small: '14px', medium: '14px', large: '14px');
$breaks: (small: '0em', medium: '40em', large: '64em');
$gutters: (no: '.001px', small: '.125rem', medium: '.5rem', large: '1.5rem');
$cell-padding: .5em;

$small-only: (max-width: 40em);
$medium-only: (min-width: 40em) and (max-width: 64em);
$large-only: (min-width: 64em);

